/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-font: "Roboto", sans-serif;
  --main-color: #fff;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --text-color-transparent: rgba(255, 255, 255, 0.6);
  --special-color: #2196f3;
  --second-special-color: #188CE8;
  --overlay-bg-color: #2196F3;
  --social-icon-color: #AFB1B8;
  --bg-hero-footer: #2f303a;
  --bg-team-filter: #f5f4fa;
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --background-opacity: rgba(48, 49, 59, 0.8);
  --basic-card-gap: 30px;
  --border-radius: 4px;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --first-font-weight: 400;
  --second-font-weight: 500;
  --third-font-weight: 700;
  --fourth-font-weight: 900;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.142;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: var(--main-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0 94px 0;
  }
}

.section-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}

a.active {
  color: var(--special-color);
}

.link {
  text-decoration: none;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
}

.logo_left {
  color: #2196f3;
}

.head {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 768px) {
  .head {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .head__mob-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .head__mob-menu-icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }

  .head__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .menu-contact {
    display: none;
  }

  .current {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .head__mob-menu-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .head {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .head__nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .logo_head {
    margin-right: 88px;
  }

  .head__container {
    display: flex;
    align-items: center;
  }

  .menu-contact__icon_mail {
    height: 12px;
    width: 16px;
    margin-right: 10px;
  }

  .menu-contact__icon_tel {
    height: 16px;
    width: 10px;
    margin-right: 10px;
  }

  .menu-contact {
    display: flex;
    margin-left: auto;
    flex-direction: column;
  }

  .menu-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .menu__link,
.menu-contact__link {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus,
.menu-contact__link:hover,
.menu-contact__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }

  .mail,
.tel {
    color: #757575;
    fill: #757575;
  }

  .current {
    color: #2196f3;
  }
  .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    margin-top: 89px;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .logo_head {
    margin-right: 93px;
  }

  .menu-contact {
    flex-direction: row;
    align-items: center;
  }

  .menu-contact__item {
    margin-right: 50px;
  }

  .menu-contact__item:not(:last-child) {
    margin-bottom: 0;
  }

  .current::after {
    margin-top: 76px;
  }
}
@media screen and (max-width: 767px) {
  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 9999;
  }
  .mob-menu__container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }
  .mob-menu__list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .mob-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-menu__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mob-menu__link:focus, .mob-menu__link:hover {
    color: #2196f3;
  }
  .mob-menu__contact {
    margin-bottom: 64px;
  }
  .mob-menu__contact-item {
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .mob-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-menu__social {
    display: flex;
    flex-wrap: wrap;
  }
  .mob-menu__social-item:not(:last-child) {
    margin-right: 20px;
  }
  .mob-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mob-menu__social-link::after {
    content: "";
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
  }

  .tel-link {
    color: #2196f3;
    font-size: 34px;
    line-height: 1.18;
  }

  .mail-link {
    font-size: 24px;
    line-height: 1.17;
    color: #757575;
  }

  .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media screen and (max-width: 479px) {
  .mob-menu__social-item {
    margin-bottom: 30px;
  }

  .tel-link {
    color: #2196f3;
    font-size: 28px;
    line-height: 1.18;
  }
}
.hero {
  padding: 118px 0;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-header-1x.jpg");
  max-width: 480px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-header-1x.jpg");
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-header-1x.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop-header-1x.jpg");
    max-width: 1600px;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero .container {
  text-align: center;
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #212121;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__button:hover, .hero__button:focus {
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}

.backdrop, .is-hidden {
  transition: all 250ms linear 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate3d(0, 0, 0, 0);
  background-color: var(--main-color);
  padding: 40px;
  border-radius: 4px;
  transition: transform 250ms linear 250ms;
}
@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    width: 90vw;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close {
  width: 11px;
  height: 11px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__form-header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--third-font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--first-font-weight);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.modal__form-imput-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form-input {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal__form-input:focus,
.modal__form-message:focus {
  outline: none;
  border-color: var(--special-color);
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--special-color);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: var(--main-text-color);
  max-width: 15px;
  max-height: 13px;
  transition: fill 250ms linear;
}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms linear;
  margin-top: 4px;
}

.form-checkbox .consent {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--first-font-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.policy {
  color: var(--special-color);
  text-decoration: underline;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-checkbox > .icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .icon {
  background-image: url(../images/icon/check.svg);
  background-color: var(--special-color);
  border-color: var(--special-color);
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 250ms;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
}

.modal-btn-submit {
  font-family: var(--main-font);
  font-weight: var(--third-font-weight);
  font-size: 16px;
  letter-spacing: 0.06em;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 76px;
  color: #FFFFFF;
}

.subscribe-mail::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--first-font-weight);
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal__form-message::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--first-font-weight);
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.section-title.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    margin-left: -30px;
  }
}
.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.features__item {
  margin-bottom: 30px;
}
.features__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.features__icon {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: var(--border-radius);
  background-color: var(--bg-team-filter);
}

.features__icon:hover .features__icon:focus {
  color: var(--special-color);
  background-color: aqua;
  fill: red;
}

@media screen and (max-width: 1199px) {
  .section-no-padding {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-no-padding {
    padding: 0px 0 94px 0;
  }
}

.business {
  flex-direction: column;
}
.business__list {
  display: flex;
  margin-top: 50px;
}
.business__list :last-child {
  margin-right: 0;
}

.business__item {
  margin-right: var(--basic-card-gap);
}

.business__item__card {
  position: relative;
}

.business__item__card__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--background-opacity);
}

.our-team {
  background-color: var(--bg-team-filter);
}

.team-members {
  flex-direction: column;
}
.team-members__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.187;
  letter-spacing: inherit;
}
.team-members__profession {
  font-size: 16px;
  letter-spacing: inherit;
  text-align: center;
  line-height: 1.187;
  margin-top: 10px;
  color: var(--second-text-color);
}

.team-members__list {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team-members__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-members__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-members__item {
  margin-bottom: 30px;
  background-color: var(--main-color);
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.team-members__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team-members__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
  .team-members__item:last-child {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-members__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.card-description {
  padding: 30px;
}

.team-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 16px;
}

.team-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  fill: var(--social-icon-color);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function);
}
.team-socials__link:hover, .team-socials__link:focus {
  background-color: var(--special-color);
  fill: var(--main-color);
}

.team-socials__icon {
  width: 20px;
  height: 20px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 30px;
}

.clients__item {
  margin-bottom: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * var(--basic-card-gap)) / 6);
    margin-bottom: 0;
  }
}

.clients__link {
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  color: var(--social-icon-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--social-icon-color);
  transition: border-color var(--transition-duration) var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--special-color);
}

.clients__link:hover .clients__icon {
  fill: var(--special-color);
}

.clients__link:focus .clients__icon {
  fill: var(--special-color);
}

.clients__icon {
  max-width: 100%;
  fill: var(--social-icon-color);
  transition: fill var(--transition-duration) var(--timing-function);
}

.footer {
  background-color: var(--bg-hero-footer);
  padding: 60px 0;
}
.footer__box {
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    align-items: baseline;
  }
}
.footer__logo {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #fff;
}

.footer-contacts {
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .footer-contacts {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    flex-direction: column;
  }
}

.address {
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__list a {
  color: #ffffff99;
  font-style: normal;
  line-height: 1.714;
  letter-spacing: inherit;
  text-decoration: none;
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function);
}
.address__list a:hover,
.address__list a:focus {
  color: var(--special-color);
}

.address__list :last-child {
  margin-bottom: 0;
}

.address__item {
  line-height: 1.714;
  letter-spacing: inherit;
  font-style: normal;
  color: var(--main-color);
  margin-bottom: 9px;
}

.footer__socials {
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%;
  height: 80px;
}
@media screen and (max-width: 1199px) {
  .footer__socials {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__socials {
    width: 206px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    width: 206px;
  }
}
.footer__socials h3 {
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  color: var(--main-color);
}
.footer__socials__list {
  display: flex;
  margin-top: 20px;
}
.footer__socials__item {
  margin-right: 10px;
}
.footer__socials__item:last-child {
  margin-right: 0;
}

.footer__socials__link {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function);
}
.footer__socials__link:hover, .footer__socials__link:focus {
  background-color: var(--special-color);
}

.footer__socials__icon {
  width: 20px;
  height: 20px;
  max-width: 100%;
  fill: var(--main-color);
}

.subscribe__email {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-transparent);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 768px) {
  .subscribe__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__email {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.subscribe__email:hover {
  cursor: pointer;
}

.subscribe__button {
  display: flex;
  align-items: center;
  font-family: inherit;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06;
  padding: 10px 28px 10px 29px;
  background: var(--special-color);
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}
.subscribe__button:hover, .subscribe__button:focus, .subscribe__button:active {
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--second-special-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon-send {
  fill: var(--main-color);
  margin-left: 10px;
}

.subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
    margin-top: 0;
  }
}
.subscribe__form {
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .subscribe__form {
    display: flex;
    width: 100%;
  }
}
.subscribe__field {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .subscribe__field {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    align-items: baseline;
  }
}
.subscribe__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color);
}
.subscribe__label:hover {
  cursor: pointer;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}
.filter__item {
  margin-right: 8px;
}
.filter__item:nth-child(-n+3) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter__item {
    margin-right: 8px;
  }
  .filter__item:last-child {
    margin-right: 0;
  }
  .filter__item:nth-child(-n+3) {
    margin-bottom: 0;
  }
}

.filter-link-blue {
  background-color: var(--special-color);
  color: var(--main-color);
}

.filter button {
  padding: 6px 22px;
  background-color: var(--bg-team-filter);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: 1.625;
  border: 0;
  border-radius: 4px;
  color: var(--main-text-color);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
}
.filter button:hover, .filter button:focus {
  cursor: pointer;
  background: var(--special-color);
  color: var(--main-color);
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .pattern {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.pattern__item {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .pattern__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .pattern__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .pattern__item {
    width: calc((100% - 90px) / 3);
  }
}

.pattern__link {
  display: block;
  text-decoration: none;
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
}
.pattern__link:hover, .pattern__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pattern__link .card-thumb {
  position: relative;
  overflow: hidden;
}
.pattern__link .text {
  margin-top: 4.09px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.overlay-text {
  position: absolute;
  top: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.556;
  transition: transform var(--transition-duration) var(--timing-function);
  color: var(--main-color);
  background-color: var(--overlay-bg-color);
}
@media screen and (min-width: 768px) {
  .overlay-text {
    padding: 49px 24px;
  }
}

.pattern__link:hover .overlay-text,
.pattern__link:focus .overlay-text {
  transform: translate3d(0, -100%, 0);
}

.pattern__card-description {
  padding: 20.43px 24px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.pattern__card-description h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.pattern__card-description p {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 30px;
}/*# sourceMappingURL=main.css.map */