:root {
   --main-font: "Roboto", sans-serif;
   --main-color: #fff;
   --main-text-color: #212121;
   --second-text-color: #757575;
   --text-color-transparent: rgba(255, 255, 255, 0.6);
   --special-color: #2196f3;
   --second-special-color: #188CE8;
   --overlay-bg-color: #2196F3;
   --social-icon-color: #AFB1B8;
   --bg-hero-footer: #2f303a;
   --bg-team-filter: #f5f4fa;
   --background-backdrop: rgba(0, 0, 0, 0.2);
   --background-opacity: rgba(48, 49, 59, 0.8);
   --basic-card-gap: 30px;
   --border-radius: 4px;
   --transition-duration: 250ms;
   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
body {
   font-family: var(--main-font);
   font-size: 14px;
   line-height: 1.142;
   font-weight: 400;
   letter-spacing: 0.03em;
   color: var(--main-text-color);
   background: var(--main-color);
}

/* Common*/
.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.section {
   padding: 94px 0 94px 0;
}

/* img for our team an pattern list */
img {
   display: block;
   max-width: 100%;
}

/* Header */
.header-line {
   display: flex;
   align-items: center;
}
.header-part {
   height: 80px;
   border-bottom: 1px solid #ececec;
}
.header-part ul {
   display: flex;
   align-items: center
}

/* Logo*/

.blue-logo-part {
   color: var(--special-color);
   font-family: "Raleway";
}

/* Logo style */
.logo__link {
   text-decoration: none;
   color: #000;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.192;
   letter-spacing: inherit;
}

/* Navigation */
.navigation {
   margin-left:93px;
}
.navigation__list :last-child{
   margin-right: 0;
}
.navigation__item{
   margin-right: 50px;
}
.navigation__link {
   display: block;
   font-weight: 500;
   font-size:inherit;
   line-height: inherit;
   letter-spacing: 0.02em;
   color: var(--main-text-color);
   text-decoration: none;
   padding: 32px 0 32px 0;
   transition: color var(--transition-duration) var(--timing-function);
}
.navigation__link.active {
   position: relative;
}
.navigation__link:hover,
.navigation__link:focus {
   color: var(--special-color);
}
.navigation__link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--special-color);
}

/* Contacts */
.contacts__list {
   margin-left: auto;
}
.contacts__item:last-child {
   margin-left: 50px;
}
.contacts__link {
   display: flex;
   align-items: center;
   text-decoration: none;
   font-weight: 500;
   font-size: inherit;
   line-height: inherit;
   letter-spacing: 0.02em;
   color: var(--second-text-color);
   padding: 32px 0 32px 0;
   transition: color var(--transition-duration) var(--timing-function);
}
.contacts__link:hover,
.contacts__link:focus {
   color: var(--special-color);
}
.contacts__icon {
   margin-right: 10px;
   fill: currentColor;
}

/* Active link */
a.active {
   color: var(--special-color)
}

/* Studio  */

/* Hero */
.hero {
   padding:200px 0 ;
   max-width: 1600px;
   margin: auto;
   background: var(--bg-hero-footer);
   background-repeat: no-repeat;
   background-position: center; 
   background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
   ),
   url("../images/icons/img-hero.jpg")
}
.hero .container {
   flex-direction: column;
}
.hero__title {
   width: 696px;
   color:var(--main-color);
   text-align: center;
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   margin-left: auto;
   margin-right: auto;
   margin-bottom:var(--basic-card-gap);
}
.hero__button {
   display: block;
   margin: 0 auto;
   font-family: inherit;
   color:var(--main-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.06;
   background:var(--special-color);
   border-radius: 4px;
   border: 0;
   padding:10px 32px;
}
.hero__button:hover {
   cursor: pointer;
}

/* Backdrop for modal*/
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   opacity: 1;
   transition: opacity var(--transition-duration) var(--timing-function);
   background-color: var(--background-backdrop);
}

/* Hide modal */
.is-hidden {
   opacity: 0;
   pointer-events: none;
}
.backdrop.is-hidden .modal {
   transform: translate3d(-50%, -50%, 0) scale(1.2) rotate3d(0, -20, 0, 90deg);
}
 
 
/* Modal */
.modal {
   position: absolute;
   width: 528px;
   height: 581px;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0) scale(1) rotate3d(0, 0, 0, 0);
   transition: transform calc(1.5 * var(--transition-duration))
     var(--timing-function);
   background-color: var(--main-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: var(--border-radius);
}
 
/* Button close for modal*/
.modal__button__close {
   position: absolute;
   width: 30px;
   height: 30px;
   display: block;
   right: 8px;
   top: 8px;
   padding: 0;
   border-radius: 50%;
   color: #000;
   transition: color var(--transition-duration) var(--timing-function);
   background-color: var(--main-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button__close:hover,
.modal__button__close:focus {
   cursor: pointer;
   color: var(--special-color);
}
.icon-close {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0);
   fill: currentColor;
 }
/* Form order*/
.form__order {
   padding: 40px;
   font-size: 12px;
   line-height: 1.167;
   letter-spacing: 0.01em;
}

/* Modal call-text p*/
.modal__text {
   margin-bottom: 12px;
   text-align: center;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
 }
 
/* Field name */
.field {
   position: relative;
   margin-bottom: 10px;
   display: block;
}
 
/* Field input */
.field__input {
   width: 100%;
   padding: 12px 0 12px 42px;
   margin-top: 4px;
   font-size: 16px;
   transition: border var(--transition-duration) var(--timing-function);
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: var(--border-radius);
}
.field__input:focus {
   cursor: pointer;
   border: 1px solid var(--special-color);
}
 
/* Delete default fields color */
.field__input:hover,
.field__input:focus,
.field__input:active,
.field__input:-webkit-autofill {
   box-shadow: 0 0 0 200px var(--main-color) inset;
}
 
/* Field icon styles*/
.field__icon {
   position: absolute;
   bottom: 4px;
   left: 15px;
   transform: translateY(-50%);
   fill: currentColor;
   transition: fill var(--transition-duration) var(--timing-function);
}
.field__input:focus + .field__icon {
   fill: var(--special-color);
}

/* Note field */
.field__note {
   margin-bottom: 20px;
}
 
/* Field for comments */
.order-note {
   padding: 12px 16px;
   resize: none;
}
.order-note::placeholder {
   color: rgba(117, 117, 117, 0.5);
}
 
/* Checkbox label styles */
.checkbox__label {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
 }
 
/* Hide default checkbox */
.checkbox__order {
   appearance: none;
}
 
/* Custom checkbox */
.checkbox__icon {
   margin-right: 8.38px;
   border-radius: 2px;
   fill: var(--main-color);
   border: 1px solid rgba(33, 33, 33, 0.2);
   background-origin: border-box;
   transition: background-color var(--transition-duration) var(--timing-function),border var(--transition-duration) var(--timing-function);
}
.checkbox__order:hover + .checkbox__icon,
.checkbox__order:focus + .checkbox__icon {
   border-color: var(--special-color);
}
 
/* Checked status for checkbox */
.checkbox__order:checked + .checkbox__icon {
   background-color: var(--special-color);
}
 
 /* link-contract */
 .link-contract {
   text-decoration: underline;
   color: var(--special-color);
 }
 
 /* checkbox button */
 .checkbox__submit__button {
   display: block;
   margin: 30px auto 0px;
   font-family: inherit;
   color:var(--main-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.06;
   background:var(--special-color);
   border-radius: 4px;
   border: 0;
   padding:10px 32px;
   transition-property: color, background-color, box-shadow;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--timing-function);

 }
 .checkbox__submit__button:hover,
 .checkbox__submit__button:focus,
 .checkbox__submit__button:active {
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--second-special-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
 }
 

/* Features  */

/* Hidden h1 */
.hidden-header {
   display: none;
}
.features__list {
   display: flex;
   width: 100%;
   justify-content: space-around;
}
.features__item {
   width: 270px;
   margin-right:var(--basic-card-gap);
}
.features__item:last-child{
   margin-right: 0;
}
.features__list h3 {
   margin-bottom: 10px;
   text-transform: uppercase;
   font-size: inherit;
   font-weight: 700;
   line-height: inherit;
}
.features__list p {
   line-height: 1.714;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
.features__icon {
   display: flex;
   padding: 25px 0;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   border-radius: var(--border-radius);
   background-color: var(--bg-team-filter);
}

/* what we do */
.business-section {
   padding: 0px 0 94px 0;
}
.business-section h2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.166;
   text-align: center;
}
.business {
   flex-direction: column;
}
.business__list {
   display: flex;
   margin-top:50px;
}
.business__list :last-child {
   margin-right: 0;
}
.business__item {
   margin-right: var(--basic-card-gap);
   margin-top: 0;
}
.doing__card {
   position: relative;
}
.label {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   color: var(--main-color);
   background-color: var(--background-opacity);
}
.card__thumb > img {
   max-width: 100%;
   display: block;
 }


/* Our team */
.our__team {
   background-color:var(--bg-team-filter);
}
.our__team h2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.166;
   text-align: center;
   letter-spacing: inherit;
}
.team-members {
   flex-direction: column;
}
.team-members__list {
   display: flex;
   margin-top:50px;
}
.team-members__list :last-child{
   margin-right: 0;
}
.team-members__list h3 {
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   line-height: 1.187;
   letter-spacing: inherit;
}
.team-members__list p {
   font-size:16px;
   letter-spacing: inherit;
   text-align: center;
   line-height: 1.187;
   margin-top: 10px;
   color: var(--second-text-color);
}
.team-members__item {
   background-color: var(--main-color);
   border-radius: 0px 0px 3px 3px;
   box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
   margin-right: var(--basic-card-gap);
}
.card__description {
   padding:30px;
}

/* Team member socials*/
.team__social__list {
   display: flex;
   justify-content: space-between;
   margin-bottom: 0px;
   margin-top: 16px;
}
.team__social__link {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px;
   border-radius: 50%;
   fill: var(--social-icon-color);
   transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function);
}
.team__social__link:hover,
.team__social__link:focus {
   background-color: var(--special-color);
   fill: var(--main-color);
}   

.team__social_icon{
   width: 20px;
   height: 20px;
}

/* Our clients */

.clients h2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.166;
   text-align: center;
   letter-spacing: inherit;
}
.clients__list {
   display: flex;
   margin-top: 50px;
}
.clients__list :last-child {
   margin-right: 0px;
}
.clients__item {
   flex-basis: calc((100% - 6 * var(--basic-card-gap)) / 6);
   margin-right: 30px;
}
.clients__link {
   padding: 12px 32px;
   display: flex;
   justify-content: center;
   color: var(--social-icon-color);
   border-radius: var(--border-radius);
   border: 1px solid var(--social-icon-color);
   transition: border-color var(--transition-duration) var(--timing-function);
}
.clients__link:hover .clients__icon {
   fill: var(--special-color);
}
.clients__link:focus .clients__icon {
   fill: var(--special-color);
}
.clients__link:hover,
.clients__link:focus {
   border: 1px solid var(--special-color);
}
.clients__icon {
   max-width: 100%;
   fill: var(--social-icon-color);
   transition: fill var(--transition-duration) var(--timing-function);
}
/* Footer */
.footer {
   background-color:var(--bg-hero-footer);
   padding: 60px 0;
}
.footer__box {
   display: flex;
   align-items: baseline;
}
.footer__logo {
   text-decoration: none;
   color:var(--main-color);
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.192;
   letter-spacing: 0.03em;
}
.contacts {
   flex-direction: column;
   margin-right: 70px;
}
.address {
   margin-top: 20px;
}
.address__list :last-child {
   margin-bottom: 0;
}
.address__list a {
   color: #ffffff99;
   font-style: normal;
   line-height: 1.714;
   letter-spacing:inherit;
   text-decoration:none;
   transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function);
}
.address__list a:hover,
.address__list a:focus {
   color: var(--special-color);
}
.address__item {
   line-height: 1.714;
   letter-spacing: inherit;
   font-style: normal;
   color:var(--main-color);
   margin-bottom: 9px;
}

/* Social links footer */
.footer__socials {
   width: 206px;
   height: 80px;
}
.footer__socials h3 {
   text-transform: uppercase;
   font-size: inherit;
   font-weight: 700;
   line-height: inherit;
   color: var(--main-color);
}
.footer__socials__list {
   display: flex;
   margin-top: 20px;
}
.footer__socials__list :last-child {
   margin-right: 0px;
}
.footer__socials__item {
   margin-right: 10px;
}
.footer__socials__link {
   padding: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function);
}
.footer__socials__link:hover,
.footer__socials__link:focus {
  background-color: var(--special-color);
} 
.footer__socials__icon {
   width: 20px;
   height: 20px;
   max-width: 100%;
   fill: var(--main-color);
}
/* Subscribe block */
.subscribe {
   display: flex;
   margin-left: auto;
}
.subscribe__field {
   display: flex;
}
 
/* Call to subscribe */
.subscribe__label {
   display: block;
   margin-bottom: 20px;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--main-color);
}
 
.subscribe__label:hover {
    cursor: pointer;
}
 
 
/* Email field */
.subscribe__email {
   width: 358px;
   height: 50px;
   margin-right: 12px;
   padding: 15px 16px;
   font-size: 16px;
   line-height: 1.25;
   color: var(--text-color-transparent);
   background-color: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: var(--border-radius);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe__email:hover {
   cursor: pointer;
}
 
/* Subscribe button */
.subscribe__button {
   display: flex;
   align-items: center;
   font-family: inherit;
   color:var(--main-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.06;
   padding: 10px 28px 10px 29px;
   background:var(--special-color);
   border-radius: 4px;
   border: 0;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   transition-property: color, background-color, box-shadow;
   transition-duration: var(--transition-duration);
   transition-timing-function: var(--timing-function);
}
.subscribe__button:hover,
.subscribe__button:focus
.subscribe__button:active {
   cursor: pointer;
   color: var(--main-color);
   background-color: var(--second-special-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12);
}
 
.icon-send {
    fill: var(--main-color);
    margin-left: 10px;
}
label,
input,
form {
   margin: 0;
   padding: 0;
}
/* Portfolio */
.portfolio {
   flex-direction: column;
}
/* Filter buttons */
.filter__list {
   justify-content: center;
   margin-bottom: 50px;
   display:flex;
}
.filter__list :last-child{
   margin-right:0;
}
.filter__list .filter-link-blue {
   background-color: var(--special-color);
   color: var(--main-color);
}
.filter__item {
   margin-right:8px;
}
.filter__list button {
   padding: 6px 22px;
   background-color: var(--bg-team-filter);
   font-size: 16px;
   font-weight: 500;
   letter-spacing: inherit;
   line-height: 1.625;
   border: 0;
   border-radius: 4px;
   color:var(--main-text-color);
   transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
}
.filter__list button:hover,
.filter__list button:focus {
   background: var(--special-color);
   color:var(--main-color);
   box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.3);
   cursor: pointer;
}

/* Examples*/
.pattern__list {
   margin-top:calc(-1* var(--basic-card-gap));
   margin-left:calc(-1* var(--basic-card-gap));
   display:flex;
   flex-wrap: wrap;
}
.pattern__item{
   background-color: var(--main-color);
   margin-left: var(--basic-card-gap);
   margin-top: var(--basic-card-gap);
} 
.pattern__item :nth-child(3) {
   margin-right: 0;
}
.pattern__link {
   display: block;
   text-decoration: none;
   transition: color var(--transition-duration) var(--timing-function),background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
}
.pattern__link:hover,
.pattern__link:focus {
   box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pattern__link .card__thumb {
   position: relative;
   overflow: hidden;
}
.overlay-text {
   position: absolute;
   top: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 24px;
   font-size: 18px;
   line-height: 1.556;
   transition: transform var(--transition-duration) var(--timing-function);
   color: var(--main-color);
   background-color: var(--overlay-bg-color);
}
.pattern__link:hover .overlay-text,
.pattern__link:focus .overlay-text {
  transform: translate3d(0, -100%, 0);
}
.pattern__link h3 {
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--main-text-color);
}
.pattern__link.text {
   margin-top: 4.09px;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}

.pattern__card-description {
   padding:20.43px  24px; 
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
   border-bottom: 1px solid #eee;
  } 
