@import './vendor/normalize';
@import './utils/vars';
@import './base/common.scss';
@import './layout/header';

@import './components/mobile-menu';
@import './components/hero';
@import './components/modalWindow./backdrop';

@import './components/modalWindow./modal';
@import './components/modalWindow./modalbuttons';
@import './components/modalWindow./fieldOrderModal';
@import './components/features';
@import './components/whatwedo';
@import './components/ourteam';
@import './components/clients';
@import './layout/footer';
@import './components/footerContacts';
@import './components/footerSocial';
@import './components/footerSub';
@import './components/filterList';
@import './components/patternList';
