.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1) rotate3d(0, 0, 0, 0);
    transition: transform calc(1.5 * var(--transition-duration))
      var(--timing-function);
    background-color: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    
    @media screen and (max-width: 767px) {
      max-width: 450px ;
      width: 90vw;
    }
 }
 