
 .clients {
   display: flex;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: 30px;
  
 }
 .clients__item {
   margin-bottom: 30px;
   margin-left: 30px; 
   flex-basis: calc((100% - 60px) / 2);

   @media screen and (min-width: 768px) {
   flex-basis: calc((100% - 90px) / 3);
   }
   @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 6 * var(--basic-card-gap)) / 6);
      margin-bottom: 0;
   }
 }
 .clients__link {
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    color: var(--social-icon-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--social-icon-color);
    transition: border-color var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
        border: 1px solid var(--special-color);
    }
 }
 .clients__link:hover .clients__icon {
    fill: var(--special-color);
 }
 .clients__link:focus .clients__icon {
    fill: var(--special-color);
 }
 .clients__icon {
    max-width: 100%;
    fill: var(--social-icon-color);
    transition: fill var(--transition-duration) var(--timing-function);
 }