.section-title.hidden {
    display: none;
}

.features {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: -30px;
    } 

    &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: inherit;
        font-weight: 700;
        line-height: inherit;
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
    &__text {
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
    }
}

.features__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);
        margin-left: 30px;
    }
}    

.features__icon {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: var(--border-radius);
    background-color: var(--bg-team-filter);
}

.features__icon:hover
.features__icon:focus {
    color: var(--special-color);
    background-color: aqua;
    fill: red;
}
