:root {
    --main-font: "Roboto", sans-serif;
    --main-color: #fff;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --text-color-transparent: rgba(255, 255, 255, 0.6);
    --special-color: #2196f3;
    --second-special-color: #188CE8;
    --overlay-bg-color: #2196F3;
    --social-icon-color: #AFB1B8;
    --bg-hero-footer: #2f303a;
    --bg-team-filter: #f5f4fa;
    --background-backdrop: rgba(0, 0, 0, 0.2);
    --background-opacity: rgba(48, 49, 59, 0.8);
    --basic-card-gap: 30px;
    --border-radius: 4px;
    --transition-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --first-font-weight: 400;
    --second-font-weight: 500;
    --third-font-weight: 700;
    --fourth-font-weight: 900;
 }